$bgDark: #03091f;
$bgPurple: rgba(116, 80, 254, 0.7);

/* width */
// ::-webkit-scrollbar {
//   width: 30px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba(116, 80, 254, 0.7);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

#web3_bazaar {
  * {
    font-family: 'EarlsRevenge', sans-serif !important;
  }
  &.theme--dark.v-application {
    background: none;
  }

  .w3b-c-purple,
  .w3b-c-purple *,
  .w3b-c-purple::after,
  .w3b-c-purple::before {
    background: $bgPurple !important;
  }

  .w3b-bg-gradient {
    &::after,
    &::before {
      opacity: 1;
      background-size: 200% auto !important;
      background-image: linear-gradient(
        130deg,
        #eb3fa9 0%,
        #395ff6 50%,
        #eb3fa9 100%
      ) !important;
    }
    &:hover {
      &::after,
      &::before {
        background-position: right center;
      }
    }
  }

  // #######################
  // PIXEL ART BUTTONS (https://codepen.io/YoannM/pen/yyExEO)
  // #######################

  .pixel2 {
    font-size: 15px;
    color: white;
    height: auto;
    margin: 10px;

    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .pixel:active,
  .pixel2:active {
    top: 2px;
  }

  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    text-transform: uppercase;

    font-size: 18px;
    color: white;
  }

  .pixel2::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
  .pixel2::after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
  .pixel2 {
    padding: 10px 10px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    width: auto;
    z-index: 2;
  }

  // #######################
  // NAV BAR
  // #######################
  .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
  }
  // #######################
  // TRADES
  // #######################
  .trade-wrapper {
    font-size: 22px;
    &--title {
      font-size: 1.1em;
      margin-bottom: 20px;
    }
    .project_logo {
      border-radius: 12px;
    }
    #project_from,
    #project_to {
      font-size: 0.7em;
    }
    p {
      font-size: 0.7em;
    }
  }

  // #######################
  // UI
  // #######################

  button:focus {
    outline: none !important;
  }
  .more-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
  }

  .more-btn,
  .more-btn::before,
  .more-btn::after {
    background-image: linear-gradient(
      130deg,
      #eb3fa9 0%,
      #395ff6 50%,
      #eb3fa9 100%
    );
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .more-btn:hover {
    background-position: right center;
    color: #fff;
  }

  .container:not(.container--fluid) {
    max-width: 1200px;
  }
  .hero-section {
    position: relative;
    background: linear-gradient(
      0deg,
      rgba(188, 101, 193, 1) 32%,
      rgba(30, 7, 94, 1) 33%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media (min-width: 480px) {
      min-height: 600px;
    }

    &--image {
      @media (min-width: 380px) {
        min-height: 490px;
      }

      min-height: 340px;
      background: url('~/assets/img/core-img/Web3Bazaar_1of1_ArtPiece_HD_FINAL.png')
        no-repeat bottom center;
      background-size: contain;
    }
    .more-btn {
      font-size: 20px;
    }
  }
  .author-item:not(:last-child) {
    margin-bottom: 30px;
  }
  section.features {
    .dream-dots {
      font-size: 22px;
    }
  }
  .author-info h5 {
    font-size: 20px;
  }
}

@font-face {
  font-family: 'EarlsRevenge';
  src: url('~assets/fonts/EarlsRevenge-69Kg.ttf');
}
